---
permalink: /feed/index.xml
eleventyExcludeFromCollections: true
metadata:
  title: "Steve Kaschimer - Tech Notes"
  subtitle: "DevOps, Security, and Development insights"
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ site.feedUrl }}" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author.name }}</name>
  </author>
  {%- for post in collections.posts | reverse %}
  {%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content xml:lang="en" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    {%- if post.data.summary %}
    <summary>{{ post.data.summary }}</summary>
    {%- endif %}
    {%- if post.data.tags %}
    {%- for tag in post.data.tags %}
    <category term="{{ tag }}"/>
    {%- endfor %}
    {%- endif %}
  </entry>
  {%- endfor %}
</feed>
